node_modules
pnpm-lock.yaml
.DS_Store
dist/*
!dist/clients/
!dist/clients/**
!dist/coverage/
!dist/coverage/**
coverage
.etl-cache
v8-compile-cache-0
.env
.env.local
*.log
bin/*.tmp
data/**
!data/.gitignore
!data/README.md
schema/json/**
!schema/json/.gitignore
